<h1> Sign up</h1>

<%= form_with model: @user, url: new_registration_path  do |form| %>
   <div class="mt-3">
        <%= form.label :First_name%>
        <br>
        <%= form.text_field :first_name , class:"form_control" , placeholder:"First name"%>
      </div>

      <div class="mt-3">
        <%= form.label :Last_name %>
        <br>
        <%= form.text_field :last_name ,class:"form_control" ,placeholder:"Last name"%>
      </div>


      <div class="mt-3">
        <%= form.label :Email %>
        <br>
        <%= form.text_field :email, class:"form_control" ,placeholder:"Email" %>
      </div>

      <div class="mt-3">
        <%= form.label :Password %>
        <br>
        <%= form.password_field :password , class:"form_control" ,placeholder:"Password"%>
      </div>


      <div class="mt-3">
        <%= form.label :Password_confirmation%>
        <br>
        <%= form.password_field :password_confirmation , class:"form_control" ,placeholder:"Password confirmation" %>
      </div>

      <div class="mt-3">
        <%= form.label :category %>
        <br>
        <%= form.select :category, User.categories.keys %>
      </div>


      <div class="mt-3">
        <%= form.submit "sign up" , class: "btn btn-primary" %>
      </div>
<% end %>